<!DOCTYPE html>
<html ng-app lang="en">
<head>
  <meta charset="UTF-8">
  <title>Angular Example</title>

  <!-- Include Angular -->
  <script src="bower_components/angular/angular.min.js" type="text/javascript"></script>
</head>
<body>

  <div ng-init="customers=[{ name: 'Dave', city: 'Phoenix'}, { name: 'Napur', city: 'Denver' }, { name: 'Heedy', city: 'Dallas'}]">
    <label> Name: <input type="text" ng-model="nameFilt" /> </label>
    <br/>
    <ul>
      <!-- Make a table with this! -->
      <li ng-repeat="person in customers | filter:{name:nameFilt} | orderBy:'city'">
        <output>{{ person.name }} from {{ person.city }}</output>
      </li>
    </ul>
  </div>

</body>
</html>
