<!DOCTYPE html>
<html ng-app="exampleApp" lang="en">
<head>
  <meta charset="UTF-8">
  <title>Angular Example</title>

  <!-- Include Angular -->
  <script src="bower_components/angular/angular.min.js"></script>
  <script src="./app.js"></script>
</head>
<body>

  <div ng-controller="CustomerController">
    <label> Name: <input type="text" ng-model="nameFilt" /> </label>
    <br/>
    <ul>
      <!-- Make a table with this! -->
      <li ng-repeat="person in customers | filter:{name:nameFilt} | orderBy:'city'">
        <output>{{ person.name }} from {{ person.city }}</output>
      </li>
    </ul>
  </div>

</body>
</html>
